@model TravelTrickProject.Models.Classes.Blog
@{
    ViewBag.Title = "BlogShow";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Edit</h2>
<br />
@using (Html.BeginForm("BlogUpdate", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control",@readonly="readonly" })
    <br />
    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.History)
    @Html.TextBoxFor(x => x.History, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImage)
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.explanation)
    @Html.TextAreaFor(x => x.explanation,15,1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Blog Edit</button>
}

