@using TravelTrickProject.Models.Classes
@model List<Comment>
@{
    ViewBag.Title = "CommentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Comment List</h2>


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Email</th>
        <th>Comment</th>
        <th>Blog</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.UserName</td>
            <td>@x.Email</td>
            <td>@x.Comment2</td>
            <td>@x.Blog.Title</td>
            <td><a href="/Admin/CommentDelete/@x.ID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Admin/CommentCome/@x.ID" class="btn btn-warning">Update</a></td>
        </tr>
    }
</table>
