@model TrevelTricProject.Models.Classes.Comment
@{
    ViewBag.Title = "CommentCome";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Comment Update</h2>
<br />
@using (Html.BeginForm("CommentUpdate", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.UserName)
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Commentt)
    @Html.TextAreaFor(x => x.Commentt,15,1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Comment Edit</button>
}



